# dependencies
node_modules/
packages/*/package-lock.json
package-lock.json

# build and test
build/

# logs
yarn-error.log
npm-debug.log
lerna-debug.log
local.log

# ide
.idea
*.sublime-*

# misc
.DS_Store
._*


# eslint
.eslintcache
eslintcache/*


# vscode
.vscode